@import "./base.css";

#app {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.title {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 0.188rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 64rem) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    padding: 0 2rem;
  }
}
